@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models

<h1>Patients</h1>

<ul>
  @foreach(Patient patient in Model)
  {
    <li>@Html.ActionLink($"{patient.Name}", "Details", new { id = patient.PatientId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new patient", "Create")</p>